# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# CSharp dev
.suo
.user
.g
.i
.cache
.exe
.pdb
.lref
.baml


*.suo
*.user
*.exe
*.pdb
LibraTimeTrackDesktop/obj/Debug/App.g.cs
LibraTimeTrackDesktop/obj/Debug/App.g.i.cs
LibraTimeTrackDesktop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LibraTimeTrackDesktop/obj/Debug/MainWindow.g.cs
LibraTimeTrackDesktop/obj/Debug/LibraTimeTrack_MarkupCompile.lref
LibraTimeTrackDesktop/obj/Debug/MainWindow.baml
LibraTimeTrackDesktop/obj/Debug/GeneratedInternalTypeHelper.g.cs
LibraTimeTrackDesktop/obj/Debug/LibraTimeTrack.csproj.GenerateResource.Cache
LibraTimeTrackDesktop/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
LibraTimeTrackDesktop/obj/Debug/LibraTimeTrack.Properties.Resources.resources
LibraTimeTrackDesktop/obj/Debug/LibraTimeTrack.csprojResolveAssemblyReference.cache
LibraTimeTrackDesktop/obj/Debug/LibraTimeTrack.csproj.FileListAbsolute.txt
LibraTimeTrackDesktop/obj/Debug/LibraTimeTrack_MarkupCompile.i.cache
LibraTimeTrackDesktop/obj/Debug/MainWindow.g.i.cs
LibraTimeTrackDesktop/bin/Debug/LibraTimeTrack.exe.config
LibraTimeTrackDesktop/obj/Debug/LibraTimeTrack.g.resources
LibraTimeTrackDesktop/obj/Debug/LibraTimeTrack_MarkupCompile.cache