<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraTimeTrackDesktop.Properties.Settings.LibraTimeTrackConnectionString"
            connectionString="Data Source=ANDREI\SQLEXPRESS;Initial Catalog=LibraTimeTrack;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>